.example_title {
    width: 100%;
    float: left;
    background-color: #2b2b2b63;
    padding: 5px;
    border-radius: 4px;
    margin: 5px 0px;
    color: white;
}
.example_img{
    width: 150px;
    float: left;
}